<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="{%- block keywords -%}{{ 'meta.keywords'|trans }}{%- endblock -%}"/>
    <meta name="description" content="{%- block description -%}{{ 'meta.description'|trans }}{%- endblock -%}"/>
    <title>Notification</title>
    <meta name='yandex-verification' content='52d17e2bf6427ef2'/>
    <meta name="google-site-verification" content="_cxMvtA3wK9RpIouMBvmp87wMIpIn0t75SXr40-nYRM"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        {% stylesheets output='css/main.css'
        'bundles/tmcycyitnotification/css/bootstrap.min.css'
        'bundles/tmcycyitnotification/css/bootstrap-theme.min.css'
        'bundles/tmcycyitnotification/css/style.less'
        filter='less,cssrewrite,?yui_css' %}
        <link rel="stylesheet" type="text/css" media="all" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
</head>

<body>
<div id="mainframe">
    {% block content %}
        {% set route =  app.request.attributes.get('_route') %}
        <main>
            <aside>
                <ul>
                    <li>
                        <a href="{{  path('show-receive') }}">Inbox
                            {% if noteCount.unreaduble is defined  %}
                                {% if noteCount.unreaduble >0 %}
                                    <b> ({{ noteCount.unreaduble }})</b>
                                {% endif %}
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </aside>
            <section>
                {% block showreceive %}{% endblock %}
                {% block compose %}{% endblock %}
            </section>

        </main>

    {% endblock %}
</div>

</body>

</html>