{% extends 'YitNotificationBundle:Main:layout.html.twig' %}
    {#
{% block header %}
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{{  path('show-receive') }}">Inbox</a> {{ allRecieve }}
                    {% if unreaduble >0 %}
                        <b> ({{ unreaduble }})</b>
                    {% endif %}
                </li>
                <li>
                    <a href="{{  path('show-send') }}">Outbox</a> {{ allSend }}
                </li>
                <li>
                    <a href="{{  path('send') }}">Compose</a>
                </li>
                <li>
                    <a href="{{  path('fos_user_security_logout') }}">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
{% endblock %}
#}