{% extends 'YitNotificationBundle::noteLayout.html.twig' %}

{% block compose %}
    <div id="container">
        <div class="content">
            <div>
                <span>from:</span> {{ notification.notification.fromUser }}
            </div>
            <div>
                <span>to:</span> {{ notification.toUser }}
            </div>
            <div>
                <span>header:</span> {{ notification.notification.header }}
            </div>
            <div>
                <span>content:</span> {{ notification.notification.content }}
            </div>
            <div>
                <span>created:</span> {{ notification.notification.created | date }}
            </div>
        </div>
    </div>
{% endblock %}

