{% extends 'YitNotificationBundle::noteLayout.html.twig' %}

{% block compose %}
    {% if compose %}
    <div id="container">
        <div id="form">
            {{ form_start(form) }}
                <div>
                    {{ form_label(form.user) }}   {{ form_widget(form.user) }}
                </div>
                <div>
                    {{ form_label(form.header) }}    {{ form_widget(form.header) }}
                </div>
                <div>
                    {{ form_label(form.content) }}    {{ form_widget(form.content) }}
                </div>
                <div>
                    {{ form_widget(form.send) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endif %}
{% endblock %}

