{% extends yit_template %}
{% block showreceive %}

    {% if noteGrid is defined %}

        {% set user = app.user %}

        {% if user %}

            <a href="{{ path('yit_delete_all', {'userId': user.id}) }}">Delete All</a>
       {% endif %}

            {{ grid(grid) }}

    {% else %}
        <div id="container">
            {% if receives is defined %}
                {% if receives is not null %}
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>
                                <input type="checkbox" />
                            </th>
                            <th>Subject</th>
                            <th>Sender</th>
                            <th>Created at</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for receive in receives %}
                            {% if receive.status == 1  %} <!-- if notification is read show without bold-->
                                <tr>
                            {% else %}
                                <tr  class="bold">
                            {% endif %}
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <a href="{{  path('receive-detailed', {'notificId' : receive.notification.id }) }}">{{ receive.notification.header }}</a>
                            </td>
                            <td>{{ receive.notification.fromUser }}</td>
                            <td>{{ receive.notification.created|date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        {##}
                    </table>
                {% endif %}
            {% endif %}
        </div>
        {% block pagenav %}
            <div class="pagination-nav">{{ knp_pagination_render(receives ) }} </div>
            <div class="count">received : {{ noteCount.allRecieve }}</div>
        {% endblock %}

    {% endif %}
{% endblock %}