{% extends yit_template %}

{#for send notification  #}

{% block showsend %}
    <div id="container">
    {% if sends is defined %}
        {% if sends is not null %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" />
                        </th>
                        <th>Subject</th>
                        <th>Recipient</th>
                        <th>Created at</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for send in sends %}
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td>
                                <a href="{{  path('send-detailed', {'notificId' : send.notification.id }) }}">{{ send.notification.header }}</a>
                            </td>
                            <td>{{ send.toUser }}</td>
                            <td>{{ send.notification.created|date }}</td>
                            {% if send.status == 0 %}
                                <td>
                                    <b>UnRead</b>
                                </td>
                            {% else %}
                                <td>Read</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endif %}
    </div>
    {% block pagenav %}
        <div class="pagination-nav">{{ knp_pagination_render(sends) }} </div>
        <div class="count">sent : {{ noteCount.allSend }}</div>
    {% endblock %}
{% endblock %}